<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('./header.html') %>
    <title><%=htmlWebpackPlugin.options.pageTitle %> - Patrycja Pająk</title>
</head>
<body class=<%=htmlWebpackPlugin.options.className %>>
    <nav id="logo" class="logo">
        <h3><a href="index.html" id="logoLink">Patrycja Pająk</a></h3>
        <span id="hamburgerMenu" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </nav>
    <div class="main-container">
        <section id="infoBox" class="info-box">
            <%= require('./menu.html') %>
        </section>
        <section class="content-box">
            <div class="content-box__gallery">
                <img src="<%=htmlWebpackPlugin.options.mainImage %>" alt="<%=htmlWebpackPlugin.options.pageTitle %>"
                    class="content-box__gallery__image" id="mainImage" />
                <div class="content-box__gallery__controls">
                    <span id="prev" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span id="next" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>
            </div>
            <article class="content-box__text">
                <h1>
                    <%=htmlWebpackPlugin.options.pageTitle %>
                </h1>
                <p>
                    <%=htmlWebpackPlugin.options.projectDescription %>
                </p>
            </article>
        </section>
    </div>
</body>
</html>